# The dataset itself
/data/raw/icuc_ml_dataset.xlsx

# Processed Files
/data/processed
data/anonymized/anonymization_mapping_20250611_150659.json



# The environment variables
/.env

# The logs
/logs